---
import CardProject from '../components/CardProject.astro'
import common from '../locales/es/common.json' // Importamos los datos desde el archivo JSON

// Extraemos las traducciones necesarias desde common
const projectsData = common.projects || {}
const title = projectsData.title || 'Proyectos'
const projects = projectsData.projects || []
---

<section id={title.toLowerCase()} class="projects">
  <h2>
    <span>{title}</span>
  </h2>
  {
    projects.map(({ title, description, image, techs, code, preview, githubCode, previewLink }) => (
      <CardProject
        src={image}
        alt={title}
        title={title}
        description={description}
        techs={techs}
        code={code}
        preview={preview}
        githubCode={githubCode}
        previewLink={previewLink}
      />
    ))
  }
</section>

<style>
  .projects {
    padding-bottom: 120px;

    & h2 {
      display: flex;
      gap: 24px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      margin-bottom: 86px;

      @media (width >= 768px) {
        justify-content: start;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--border-color);
        }
      }

      & span {
        order: 1;
      }
    }
  }
</style>
